<%- include("partials/header"); -%>

<h1><%= titleContent %></h1>
<p><%= bodyOfTitle %> </p>
<form action="/posts/<%=id%>?_method=DELETE" method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
<%- include("partials/footer"); -%>